<h1>About Page</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A minima repudiandae et quisquam nihil! Illum doloremque
    voluptas officiis possimus. Vel quia fugiat explicabo quo possimus, obcaecati perspiciatis officia! Nam, sequi?
</p>

<a href="/">Home</a>