<h1>Home Page</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi in sit exercitationem laborum ipsa autem eos, minima
    itaque distinctio nostrum suscipit ut omnis pariatur vel eius sapiente iure adipisci? Nisi.
</p>
<a href="/about">about</a>